body {
    padding: 0;
    margin: 0;
    background-image:url("./photo/drums.jpg");
    height: 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    background-color: black;
}

#container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

.key {
    width: 5%;
    text-align: center;
    font-size: 3rem;
    padding: .3em;
    color: white;
    background-color: black;
    border: solid white 5px;
    border-radius: 1em;
}
.key p {
    font-size: 1.5rem;
}